<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анна Боброва. Лабораторная работа {{ lab_number }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lab1/main.css') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {% if lab_number %}Пример{% endif %}<br>
        <nav class="main-nav">
            <a href="{{ url_for('index') }}">🏠 Главное меню</a>
        </nav>
    </header>

    <main>
        5 + 2 = {{ 5 + 2 }}<br>
        11 &times; 28 = {{ 11 * 28 }}<br>
        3258 &minus; 759 = {{ 3258 - 759 }}<br>
        8452 ÷ 793 = {{ 8452 / 793 }}<br>
        45<sup>8</sup> = {{ 45 ** 8 }}<br>
        <ul>
            {% for f in fruits %}
            <li>{{ loop.index }} - {{ f.name }}: {{f.price }} &#x20bd;</li>
            {% endfor %}
        </ul>
    </main>

    <footer>
        &copy;
        {% if name %}
            {{ name }},
        {% else %}
            Анонимус,
        {% endif %}

        {% if group %}
            {{ group }},
        {% else %}
            группа неизвестна,
        {% endif %}

        {% if course %}
            {{ course }},
        {% else %}
            курс не указан,
        {% endif %}
        2025
    </footer>
</body>
</html>