{% extends "base.html" %}

{% block lab %}Цветок{% endblock %}

{% block main %}
<div class="container">
    {% if flower %}
        <h1>Информация о цветке</h1>
        <p><b>ID цветка:</b> {{ flower_id }}</p>
        <p><b>Название:</b> {{ flower.name }}</p>
        <p><b>Цена:</b> {{ flower.price }} &#x20bd;</p>
    {% else %}
        <h1 style="color:#e74c3c;">Ошибка</h1>
        <p>Цветок с таким ID не найден.</p>
    {% endif %}
    <a href="{{ url_for('lab2.show_flowers') }}" class="btn">← Вернуться к списку всех цветов</a>
</div>
{% endblock %}
