{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab2/example">Пример</a></li>
        <li><a href="/lab2/a">Без слэша</a></li>
        <li><a href="/lab2/a/">Со слэшем</a></li>
        <li><a href="/lab2/add_flower/роза/300">Добавить розу за 300 руб.</a></li>
        <li><a href="/lab2/add_flower/">Добавить цветок без имени</a></li>
        <li><a href="/lab2/flowers/">Список цветов</a></li>
        <li><a href="/lab2/flowers/0">Информация о цветке</a></li>
        <li><a href="/lab2/clear/">Очистить список</a></li>
        <li><a href="/lab2/filters">Фильтры</a></li>
        <li><a href="/lab2/calc/">Калькулятор с двумя единицами</a></li>
        <li><a href="/lab2/calc/5">Калькулятор с параметром 1</a></li>
        <li><a href="/lab2/calc/6/3">Калькулятор с двумя параметрами</a></li>
        <li><a href="/lab2/books/">Список книг</a></li>
        <li><a href="/lab2/cats/">Коты</a></li>
    </ol>
{% endblock %}