{% extends "base.html" %}

{% block lab %}Калькулятор{% endblock %}

{% block main %}
    <h1>Расчёт с параметрами:</h1>
    <table>
        <tr><td>{{ a }} + {{ b }} = {{ sum }}</td></tr>
        <tr><td>{{ a }} - {{ b }} = {{ sub }}</td></tr>
        <tr><td>{{ a }} * {{ b }} = {{ mul }}</td></tr>
        <tr><td>{{ a }} / {{ b }} = {% if div is not none %}{{ div }}{% else %}деление на 0 невозможно{% endif %}</td></tr>
        <tr><td>{{ a }} ^ {{ b }} = {{ pow }}</td></tr>
    </table>
    <a href="/lab2/flowers/" class="btn">← К списку цветов</a>
{% endblock %}
