{% extends "base.html" %}

{% block lab %}Лабораторная 2{% endblock %}

{% block main %}
<div class="container">
    <h1>Список цветов</h1>
    <p>Всего цветов: {{ count }}</p>
    <ul>
        {% for flower in flowers %}
            <li>
                {{ flower.name }} &mdash; {{ flower.price }} &#x20bd;
                <a href="{{ url_for('lab2.delete_flower', flower_id=loop.index0) }}" class="btn-clear">Удалить</a>
            </li>
        {% endfor %}
    </ul>
    <p><a href="/lab2/clear/" class="btn">Очистить список всех цветов</a></p>
</div>

 <hr>

    <h2>Добавить новый цветок</h2>
    <form id="add-flower-form" action="{{ url_for('lab2.add_flower_form') }}" method="get" class="add-flower-form">
        <input type="text" id="flower-name" name="name" placeholder="Название цветка" required>
        <input type="number" id="flower-price" name="price" placeholder="Цена" required>
        <button type="submit" id="add-button" class="btn" title="">Добавить</button>
    </form>
</div>

<style>
input[type="text"], input[type="number"] {
        padding: 6px 10px;
        margin: 4px 6px 4px 0;
        border-radius: 6px;
        border: 1px solid #ccc;
    }
    .add-flower-form button.btn {
        padding: 6px 14px;
        border-radius: 6px;
        border: none;
        outline: none;
    }
</style>

<script>

const nameInput = document.getElementById('flower-name');
const priceInput = document.getElementById('flower-price');
const addButton = document.getElementById('add-button');

function updateButtonTitle() {
    const name = nameInput.value || '[name]';
    const price = priceInput.value || '[price]';
    addButton.title = `/lab2/add_flower/${name}/${price}`;
}

nameInput.addEventListener('input', updateButtonTitle);
priceInput.addEventListener('input', updateButtonTitle);
</script>

{% endblock %}
